.card {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: rgb(255, 252, 65);
  border-radius: 2px;
  height: 220px;
  margin: 6px;
  position: relative;
  width: 230px;
  color: black;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 95%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.card > .img-container > img {
  width: 65%
}